h1{
	font-family: sans-serif;
	font-size: 42px;
	position: fixed;
    top: 40px;
    left: 5%;
}

div{
	position: fixed;
    top: 40px;
    left: 75%;
}

a{
	text-decoration: none;
	background-color: #e6e6ff;
	color: #66ccff;
	font-family: sans-serif;
	font-size: 20px;
	padding: 4px;
	display: inline-block;
	top: 10px;
	right: 10px;
}

a:hover{
	color: #0077b3;
}

.slide{
	width: 800px;
	position: fixed;
	right: 10%;
	top: 20%;
}

.links{
	position: fixed;
	left: 50%;
	bottom: 5%;
}
.social{
	display: inline-block;
	background-color: #e6e6ff;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	position: relative;
}

.social:hover{
	background-color: #0077B5;
}


#in{
	position: absolute;
}

#behance{
	position: absolute;
}