#name{
	color: #ffffff;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 32px;
    top: 0px;
    left: 0px;
    margin-top: 0px;
	position: absolute;
	padding: 20px 10px 20px 20px;
}

#name:hover{
	color: #ffe6ff;
}

nav{
	position: fixed;
    top: 15%;
    left: 5%;
}

.sidebar{
	text-decoration: none;
	background-color: #3333ff;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 20px;
	padding: 4px;
	display: block;
}

a:hover{
	color: #EEEDED;
}

#blue{
	background-color: #3333ff;
	width: 10%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 3%;
}

img{
	width: 400px;
	border: 1px solid #f2f2f2;
	position: relative;
	float: right;
}

.image{
	text-decoration: none;
	background-color: #b3b3b3;
	opacity: 0%;
}

.image:hover{
	opacity: 50%;
}

.links{
	position: fixed;
	left: 5%;
	bottom: 5%;
}
.social{
	display: inline-block;
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
}

.social:hover{
	background-color: #ffe6ff;
}

#in{
	position: absolute;
	left: 6px;
	top: 5px;
	width: 25px;
}

#behance{
	position: absolute;
	width: 25px;
	left: 6px;
	top: 5px;
}