h2{color:white; font-family:Serif;}
h3{color:#4d5354; font-family:Helvetica;}
body{background-color:#1a2325; margin: 60px;}
p{
	color:#848889; 
	font-family:Helvetica; 
	}
a{color:#01bfc1; text-decoration: none;}
img{
	float:right; 
	padding-left: 200px; 
	margin-bottom: 200px;
	margin-right: 100px;}
section{width:1300px;}
.section{margin-bottom: 750px;}
.stickpic{margin-bottom:100px;}
div{
	border: 1px solid #01bfc1;
	text-transform: uppercase;
	background-color: #01bfc1;
	text-align: center;
	height: 50px;
	width: 120px;
	margin: 2px;
	}